<ion-header>
    <ion-toolbar>
        <ion-title>Inicio de session</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content>
            <ion-item lines="full">
                <ion-label position="floating">Usuario</ion-label>
                <ion-input type="text" [(ngModel)]="user.usuario"></ion-input>
            </ion-item>
            <ion-item lines="full">
                <ion-label position="floating">Contraseña</ion-label>
                <ion-input type="password" [(ngModel)]="user.password"></ion-input>
            </ion-item>
            <ion-row>
                <ion-col>
                    <ion-button expand="full" (click)="ingresar()">Ingresar</ion-button>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
</ion-content>