<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Te llevo APP
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Te llevo APP</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content [fullscreen]="true">
        <ion-button routerLink="/login" routerDirection="forward">Iniciar Sesión</ion-button>
    </ion-content>
</ion-content>